# Ignorar la carpeta target generada por Maven
target/

# Ignorar archivos de Eclipse
.settings/
.classpath
.project
.metadata/
bin/
*.tmp
*.bak
*.swp
*.patch
*.sublime-workspace
*.sublime-project

# Ignorar archivos de compilación
*.class
*.log

# Ignorar archivos de sistema
.DS_Store